h1 {
  text-align: center;
}

ui-stepper {
  display: block;
  margin: 0.5rem;

  ui-step {
    background-color: #ddd;
    border-radius: 0.5rem;
    flex-direction: column;
    margin: 0.5rem 0;
    min-height: 15rem;
    padding: 1rem;

    form {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    p {
      color: #333;
      font-size: 1.5rem;
      font-weight: 700;
      margin: auto;
    }

    input {
      background-color: #333;
      color: #eee;
      border: none;
      border-radius: 0.25rem;
      font-size: 1.25rem;
      margin: 0 auto;
      max-width: 20rem;
      padding: 0.5rem 1rem;
    }

    div {
      align-items: center;
      display: flex;
      justify-content: space-between;

      button {
        background-color: #aaa;
        border: none;
        border-radius: 0.25rem;
        color: #333;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 1.5rem;
        outline: none;
      }
    }
  }
}
